#Virtual Env
.env
sist_riego/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm.toml
*.pdm.lock
*.egg-info/

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporal Files
.DS_Store
Thumbs.db

# Config VSCode
.vscode/

#Gemini CLI
GEMINI.md


file: